.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER STYLES*/
.header-container{
  display: flex;
  justify-content:space-between;
  gap: 15px;
  /* box-shadow: 0px 13px 13px -3px rgba(74,74,74,0.88); */
  padding: 10px;
  border: 1px grey solid;
}
.header-title{
  font-size: 55px;
}
.header-profile-container{
  display:flex;
  vertical-align: middle;
  height:fit-content;
  padding:6px;

  border: grey 0.5px solid;
  border-radius: 15px;
}
.header-profile-img{
  height: 35px;
  width: 35px;
}
.header-profile-txt{
  font-size: 20px;
}

/* LOGIN PAGE STYLES */
.login-page-container{
  display: flex;
  flex-direction: row;
  gap:15px;
}
/* PROFILE CARD STYLES */
.profile-card-container{
  height: 100px;
  width: 100px;
  padding: 10px;
  border: black solid 0.5px;
  border-radius: 15px;
}
.profile-card-img{
  height: 85px;
  width:85px;
}
.profile-card-name{
  font-size: 15px;
  margin: 0px;
}

/* HOME PAGE STYLING */
.home-container{
  border: 1px grey solid;
  margin-top: 25px;
  display: flex;
  width:100%
}
.content-container{
  margin:15px;
  margin-top: 0px;
}
/* NAVBAR STYLING */
.navbar-container{
  display: flex;
  border: 1px black solid;
  flex-direction: column;
  width: 20%;
}
