.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER STYLES*/
.header-container{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 13px 13px -3px rgba(74,74,74,0.88);
  padding: 10px;
}
.header-title{
  font-size: 55px;
}
.header-profile-container{
  display:flex;
  vertical-align: middle;
  height:40px;
  padding:4px;

  border: grey 0.5px solid;
  border-radius: 15px;
}
.header-profile-img{
  height: 35px;
  width: 35px;
}
.header-profile-txt{
  font-size: 20px;
}

/* LOGIN PAGE STYLES */
.login-page-container{
  display: flex;
  flex-direction: row;
  gap:15px;
}
/* PROFILE CARD STYLES */
.profile-card-container{
  height: 100px;
  width: 100px;
  padding: 10px;
  border: black solid 0.5px;
  border-radius: 15px;
}
.profile-card-img{
  height: 85px;
  width:85px;
}
.profile-card-name{
  font-size: 15px;
  margin: 0px;
}